@model List<EventBookingSystem.Models.Servicess>
<h2>
    <a href="/Services/Create"><input type="button" value="Add Services" class="btn btn-primary" /></a>
</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions:</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var Ebs in Model)
        {
            <tr>
                <td>@Ebs.Id</td>
                <td>@Ebs.Name</td>
                <td>
                    <a href="/Services/Edit?Id=@Ebs.Id"><input type="button" value="Edit" class="btn  btn-primary" /></a>
                    <a href="/Services/Delete?Id=@Ebs.Id"><input type="button" value="Delete" class="btn btn-danger" /></a>
                </td>
                
                
            </tr>
        }
    </tbody>
</table>