body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	background: #008374;
	flex-direction: column;
	margin: 20;
}
#img{
	background-image: -moz-repeating-radial-gradient();
}
.main {
	background-color: #37b8a9;
	border-radius: 15px;
	box-shadow: 0 0 40px rgba(31, 157, 161, 0.2);
	padding: 10px 20px;
	transition: transform 0.2s;
	width: 500px;
	text-align: center;
}
h1 {
	color: #c5ccc0d2;
}
label {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: left;
	color: #555;
	font-weight: bold;
}
input {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
}
button {
	padding: 10px;
	border-radius: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	color: rgb(146, 147, 148);
	cursor: pointer;
	background-color: #f0f5f4;
	width: 30%;
	font-size: 16px;
}
.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}