@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    string x = Context.Session.GetString("login");
    User user = null;
    if (x != null)
    {
        user = JsonConvert.DeserializeObject<User>(x);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Event Booking system - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/theme/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/theme/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!--  Main CSS File -->
    <link href="~/theme/assets/css/main.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/theme/assets/login">
</head>

<body>
    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="/Home" class="logo d-flex align-items-center">
                <h1>EventBooking<span>.</span></h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/Home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                    @if (user != null && user.Email == "admin@gmail.com")
                    {
                        <li><a href="/Account/List">User</a></li>
                    }
                    @if (user != null && (user.Vendor == true || user.Email == "admin@gmail.com"))
                    {
                        <li><a href="/Services/Index">Services</a></li>
                        <li><a href="/MarriageHall/Index">Marraige Hall </a></li>
                    }
                    @if (user != null && (user.Vendor == false || user.Email == "admin@gmail.com"))
                    {
                        <li><a href="/Order/Index">Order</a></li>
                    }
                    @if (user != null)
                    {
                        <li><a href="/Account/Logout">Logout</a></li>
                    }
                    else
                    {
                        <li><a href="/Account/Login">Login </a></li>
                    }

                </ul>
            </nav><!-- .navbar -->
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>


        </div>
    </header><!-- End Header -->
    <!-- End Header -->
    @RenderBody()

    <!-- Vendor JS Files -->
    <script src="~/theme/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="~/theme/assets/vendor/aos/aos.js"></script>
    <script src="~/theme/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/theme/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/theme/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/theme/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script> -->
    <script src="~/theme/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/theme/assets/js/main.js"></script>

</body>

</html>