@model List<EventBookingSystem.Models.Servicess>

@{
    ViewData["Title"] = "Services";
    int serviceCounter = 1;
}


<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-3">Our Services</h1>
       @*  <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">About</li>
            </ol>
        </nav> *@
    </div>
</div>
<!-- Page Header End -->
<!-- Project Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="section-title bg-white text-center text-primary px-3">Our Services</h6>
            <h1 class="display-6 mb-4">Extremely Good Services with Good Quality</h1>
        </div>
        <div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.1s">
            @foreach (var item in Model)
            {
                <div class="project-item border rounded h-100 p-4" data-dot="0@(serviceCounter)">
                    <div class="position-relative mb-4">
                        <img class="img-fluid rounded" src="@item.ImageUrl" alt="">
                        <a href="@item.ImageUrl" data-lightbox="project"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                    <h6>@item.Name</h6>
                    <span>@item.Detail</span>
                </div>
                serviceCounter++;
            }



        </div>
    </div>
</div>